{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_createparty.css' %}">
    <title>Upcoming TU Parties</title>
</head>
<body>
    
    <nav class="navbar">
        <a href="{% url 'home' %}" class="logo">TUTALK</a>
        <div class="nav-links">
            <a href="{% url 'home' %}">My account</a>
            <a href="{% url 'home' %}">Log Out</a>
        </div>
    </nav>

    <div class="left-menu">
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
        <a href="{% url 'tu_talk:post_list' %}"
            class="{% if request.resolver_match.url_name == 'post_list' %}active{% endif %}">
            TU Talk
        </a>
        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            TU Alert
        </a>
        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            TU Review
        </a>
        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            TU Party
        </a>
        <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
            About Us
        </a>
    </div>
    
    <footer class="footer">
        <p>&copy; 2024 TUTALK. All rights reserved.</p>
    </footer>

    <h2>Upcoming TU Parties</h2>
    <div class="party-create">
        <a href="{% url 'tu_party:create_party' %}">Create a New Party</a>
    </div>

    
    {% for party in parties %}
    <div class="party-post">
        <div class="post">
            {% if party.image %}
            <img src="{{ party.image.url }}" alt="Party Image">
            {% endif %}
            <h3>{{ party.title }}</h3>
            <p>{{ party.description }}</p>
            <p>{{ party.event_date }} at {{ party.event_time }}</p>
            <p>Interested: {{ party.interested_users.count }}</p>

        </div>
        <a href="{% url 'tu_party:interest_party' party.id %}">
            {% if party.id in user_interests %}
                Cancel Interest
            {% else %}
                I'm Interested
            {% endif %}
        </a>

        {% if user == party.user %}
        <a href="{% url 'tu_party:interested_users' party.id %}">View Interested Users</a>
        {% endif %}
    </div>
    {% endfor %}    
</body>
</html>
