{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_review.css' %}">
    <title>Dorm list</title>
</head>
<body>
    <!-- Navigation Bar with Post Form in Center -->
    <nav class="navbar">
        <a href="{% url 'user_home' %}" class="logo">TUTALK</a>

        <div class="nav-links">
            <a href="{% url 'user_edit:profile' %}">My account</a>
            <a href="{% url 'home' %}">Log Out</a>
        </div>
    </nav>

    <!-- Left Menu with Search Bar -->

    <div class="left-menu">
        <a href="{% url 'tu_talk:post_list' %}"
            class="{% if request.resolver_match.url_name == 'post_list' %}active{% endif %}">
            TU Talk
        </a>
        <a href="{% url 'user_home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            TU Alert
        </a>
        <a href="{% url 'user_home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            TU Review
        </a>
        <a href="{% url 'tu_party:party_list' %}" class="{% if request.resolver_match.url_name == 'party_list' %}active{% endif %}">
            TU Party
        </a>
        <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
            About Us
        </a>
    </div>

     <!-- Footer Section -->
     <footer class="footer">
        <p>&copy; 2024 TUTALK. All rights reserved.</p>
    </footer>
    <header class="header">
        <h2>Dorm Review</h2>
    </header>

    <div class="menudorm">
        <div class="menu-item">
            <h2><a href="{% url 'tu_review:tu_review' %}">Go Back</a></h2>
        </div>
        <div class="menu-item">
            <h2><a href="{% url 'tu_review:dorm_create_form' %}">Request to add dormitory</a></h2>
        </div>
    </div>
    
    
    {% for dorm in dorms %}
<div class="maindorm">
    <h2>{{ dorm.name }}</h2>
    <p>Location: {{ dorm.location }}</p>
    <p>Average Rating: {{ dorm.average_rating }}</p>
    <img src="{{ dorm.image.url }}" alt="Image of {{ dorm.name }}" class="dorm-image">
    <a href="{% url 'tu_review:dorm_detail' dorm.id %}">More Details</a>
</div>
</div>
{% endfor %}


</body>
</html>