{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_review.css' %}">
    <title>TU REVIEW</title>
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'user_home' %}" class="logo">TUTALK</a>
        <div class="nav-links">
            <a href="{% url 'user_edit:profile' %}">My account</a>
            <a href="{% url 'home' %}">Log Out</a>
        </div>
    </nav>

    <div class="container">
        <div class="left-menu">
            <a href="{% url 'tu_talk:post_list' %}"
                class="{% if request.resolver_match.url_name == 'post_list' %}active{% endif %}">
                TU Talk
            </a>
            <a href="{% url 'tu_alert:alert_list' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                TU Alert
            </a>
            <a href="{% url 'tu_review:tu_review' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                TU Review
            </a>
            <a href="{% url 'tu_party:party_list' %}" class="{% if request.resolver_match.url_name == 'party_list' %}active{% endif %}">
                TU Party
            </a>
            <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                About Us
            </a>
        </div>
        
        <header class="header">
            TU Review
        </header>
        
        <div class="maingate">
            <a href="{% url 'tu_review:study' %}">
                <img src="{% static 'images/book-pile-of-must-read-books-scaled1.jpeg' %}" alt="Course Icon">
                <span>course</span>
            </a>
            <a href="{% url 'tu_review:dorm_list' %}">
                <img src="{% static 'images/dorm1.jpg' %}" alt="Dorm Icon">
                <span>dorm</span>
            </a>
            <a href="{% url 'tu_review:restaurant_list' %}">
                <img src="{% static 'images/blog-top13-pic-01.png' %}" alt="Restaurant Icon">
                <span>restaurant</span>
            </a>
        </div>
    </div>


     <!-- Footer Section -->
     <footer class="footer">
        <p>&copy; 2024 TUTALK. All rights reserved.</p>
    </footer>
    


</body>
</html>