<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}/media/profile_picture/default_profile_picture.png{% endif %}" 
     alt="Profile Picture" width="150">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
    <p><strong>faculty:</strong> {{ user.profile.faculty }}</p>
    <p><strong>line:</strong> {{ user.profile.line }}</p>
    <p><strong>instagram:</strong> {{ user.profile.instagram }}</p>
    
    <a href="{% url 'user_edit:profile_edit' %}">Edit Profile</a>
    <a href="{% url 'user_home' %}">Back to home</a>
</body>
</html>