<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <header>
        <h1>About</h1>
    </header>

    <section>
        <h2>รายละเอียดโครงงาน TuTalk</h2>
    </section>

    <section>
        <h2>รายชื่อสมาชิก</h2>
        <ol>
            <li>นายกันตพงศ์ วิชชุเกรียงไกร 6610625045</li>
            <li>นายชนม์ชนันทร์ จิตระวัง 6610685056</li>
            <li>นายชยวัฒน์ กาญจนะแก้ว 6610685122</li>
            <li>นาย นนทพัทธ์ บุญประสิทธิ์ 6610625205</li>
            <li>นาย ปรัญชัย ติ้มขลิบ 6610625239</li>
        </ol>
    </section>

    <section>
        <a href="https://trello.com/b/JjbKkQVw/tu-talk" target="_blank">Link Tracker</a>
        <a href="https://github.com/6610685239/cn331-project" target="_blank">Link GitHub Repo</a>
        <a href="https://www.youtube.com" target="_blank">Link youtube</a>
    </section>




    
</body>
</html>
