{% load static %}
<body>
    <div class="container">
        <header>
            <h1>TUTALK</h1>
            <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
        </header>

        <section class="login-form-section">
            <h2>Application ที่ดีที่สุดในมธ</h2>
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p>ยังไม่มีบัญชี? <a href="{% url 'register' %}">สมัครสมาชิก</a></p>
        </section>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
   
</body> 
