{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style_register.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>SIGN UP</h1>
            <h2>มาร่วมเป็นครอบครัวกับชุมชนของเรา</h2>
        </header>

        <section class="register-form-section">
            <form method="post" class="register-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
            <p>มีบัญชีอยู่แล้ว? <a href="{% url 'home' %}">เข้าสู่ระบบ</a></p>
        </section>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>